<!DOCTYPE html>

<head>
	<title>Blood on the ClockTower</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
	<style>
		.content {
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	</style>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<div style="width:100vw; height: 100vh" > 
		<button id="gunshot_button" type="button" class="btn btn-danger content" width="50%" height="50%" style="width:50%; height:50%; font-size: 10vw">Gunshot</button>
	</div>

	<script>
			document.getElementById('gunshot_button').addEventListener('click', function(e) {
				var connection_url = "{{url}}";
				var connection_port = "{{port}}";

				var ws_url = "ws://" + connection_url + ":" + connection_port;

				console.log(ws_url)
	
				var ws = new WebSocket(ws_url);
	
				ws.onopen = function () {
					ws.send("{\"event\":\"gunshot\"}");
					console.log("Message sent!");
					ws.close();
				}
				
				ws.onclose = function () {
					console.log("Websocket closed!");
				}
			});
		</script>
</body>

